{% extends 'openfoodfacts/base.html' %}

{% block title %}{{ 'Recherche du produit à subtituer' }}{% endblock%}

{% block content %}

    {% include 'openfoodfacts/header.html' with title=page_title img=img %}

<section>
    <div class="container text-center mb-5">
        <h3>Veuillez précisez l'élement de votre choix: </h3>
        <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Toutes les catégories</a>
      </li>
      {% for key, value in categories.items %}
      <li class="nav-item">
        <a class="nav-link" id="{{key.category}}-tab" data-toggle="tab" href="#{{key.category}}" role="tab" aria-controls="{{key.category}}" aria-selected="false">{{value}}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
          <div class="row">
          {% for product in products_list %}
          <div class="col-lg-4 item">
              <a href="{% url 'openfoodfacts:detail' id_product=product.id_product %}"><span class="notify-badge">{{ product.nutriscore }}</span>
                  <img  class="mx-auto d-block" src="{{ product.img }}" alt="Product.product_name" width="300px" height="250px" /><br>
              </a>
              <div class="container">
                  <h6><a href="">{{ product.product_name }}</a></h6>
                  <form method="get" action="{% url 'openfoodfacts:search' %}" accept-charset="utf-8">
                      <input type="hidden" name="id_product" value="{{product.id_product}}"/>
                      <button><i class="fa fa-check-circle" aria-hidden="true">&nbsp; Sélectionner</i></button>
                  </form>
              </div>
          </div>
          {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
          {% endfor%}
        </div>
      </div>

      {% for key, value in categories.items %}
      <div class="tab-pane fade" id="{{key.category}}" role="tabpanel" aria-labelledby="{{key.category}}-tab">
        <div class="row">
          {% for product in products_list %}
          {% if key.category == product.category %}
          <div class="col-lg-4 item">
                <a href="{% url 'openfoodfacts:detail' id_product=product.id_product %}"><span class="notify-badge">{{ product.nutriscore }}</span>
                    <img  class="mx-auto d-block" src="{{ product.img }}" alt="Product.product_name" width="300px" height="250px" /><br>
                </a>
                <div class="container">
                    <h6><a href="">{{ product.product_name }}</a></h6>
                    <form method="get" action="{% url 'openfoodfacts:search' %}" accept-charset="utf-8">
                        <input type="hidden" name="id_product" value="{{product.id_product}}"/>
                        <button><i class="fa fa-check-circle" aria-hidden="true">&nbsp; Sélectionner</i></button>
                    </form>
                </div>
            </div>
          {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
          {% endif %}
          {% endfor%}
      </div>
      </div>
      {% endfor %}
    </div>
</section>



{% endblock %}
